<style type="text/css">
	.topRow{
		margin-top: 2%;
	}
	.middleRow{
		height: 200px;
		background-color: lightyellow;
		padding: 0% 5%;
	}
	.middleText{
		padding: 5%;
	}
	.catHeader{
		display: inline-block;
		margin-right: 5%;
	}
	.catHeader a{
		text-decoration: none;
		color: black;
	}
	.catHeader a:hover{
		opacity: .6;
	}
	.catRow{
		text-align: center;
	}
</style>

<h1><%= @category.name %></h1>
<% x = 0 %>
	<% @videos.each do |val| %>
	<% @path = val.vfile.url %>
	  <div class="row topRow">
		  <div class="col-md-7">
		  	<div class="embed-responsive embed-responsive-4by3">
		  		<% if x == 0 %>
				  <video id="my-video" autoplay class="video-js embed-responsive-item" controls preload="auto" width="640" height="264" data-setup="{}">
				<% else %>
					<video id="my-video" class="video-js embed-responsive-item" controls preload="auto" width="640" height="264" data-setup="{}">
				<% end %>
				    <source src="<%= @path %>" type='video/mp4'>
				    <source src="<%= @path %>" type='video/webm'>
				    <p class="vjs-no-js">
				      To view this video please enable JavaScript, and consider upgrading to a web browser that
				      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
				    </p>
				  </video>
			  </div>
		  </div>
		  <div class="col-md-5">
			  <div class="row middleRow">
			  	<h1><%= val.name %></h1>
			  </div>
			  <div class="row middleText">
					<p><%= val.description %></p>
			  </div>
		  </div>
	  </div>
	  <% x += 1 %>
	<% end %>