<style type="text/css">
	.header{
		text-align: center;
		margin-top: 0px;
	}
	.imgDiv{
		display: inline-block;
		height: 98px;
		width: 190px;
		margin-right: 2%;
		margin-bottom: 2%;
	    -moz-transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	}
	.videoCont{
		height: 600px;
		overflow: auto;
		text-align: center;
	}
	.destroyForm{
		display: inline-block;
		vertical-align: top;
		float: right;
	}
	.topRow{
		margin-top: 2%;
	}
	.imgDiv:hover{
		opacity: 0.8;
	}
	.specialBox{
		border: 1px solid grey;
	    width: 40%;
	    text-align: center;
	    display: inline-block;
		height: 150px;
    	padding: 2%;
    	margin-right: 5%;
    	margin-top: 5%;
	}
	.buttonRow{
		text-align: initial;
	}
	.buttonRow button{
		display: inline-block;
	}
	.buttonRow form{
		display: inline-block;
	}
	.titleHeader{
		margin-top: 0px;
	}
	.cat{
		margin: 0px;
		text-align: right;
		font-size: 0.8em;
	}
</style>
<div class="row topRow">
	<div class="col-md-7 videoCont">
	<% x = 0 %>
		<% @specials.each do |val| %>
			<div class="specialBox">
				<p class="cat"><%= val.category.name %></p>
				<h3 class="titleHeader"><%= val.title %></h3>
				<p><%= val.description %></p>
					<div class="buttonRow">
						<a href="/specials/edit/<%= val.id %>"><button class="btn btn-xs btn-primary">Edit Special</button></a>
						<form action="/specials/destroy" method="POST" data-remote="true" class="destroyForm">
							<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
							<input type="hidden" name="id" value="<%= val.id %>">
							<button class="btn btn-xs btn-danger" data-confirm="Destroy Special?">Delete Special</button>
						</form>
					</div>
			</div>
		<% x += 1 %>
	    <% end %>
	</div>
	<div class="col-md-5">
		<h1 class="header">New Special</h1>
	<form class="form-horizontal" method="post" action="/specials" id="editForm" enctype="multipart/form-data">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<div class="form-group">
	    <label for="special[title]" class="col-sm-3 control-label">
	        Title:</label>
	    <div class="col-sm-6">
	        <input name="special[title]" type="text" class="form-control" id="name" />
	    </div>
	</div>
	<div class="form-group">
	    <label for="special[description]" class="col-sm-3 control-label">
	        Description</label>
	    <div class="col-sm-6">
	    	<textarea name="special[description]" class="form-control" id="description"></textarea>
	    </div>
	</div>
  <div class="form-group">
    <label for="special[category]" class="col-sm-3 control-label">Category</label>
    	<div class="col-sm-6">
		    <select name="special[category_id]" class="form-control" id="category">
		    	<% @categories.each do |val |%>
		    		<option value="<%= val.id %>"><%= val.name %></option>
		    	<% end %>
		    </select>
	    </div>
  </div>
<!--   <div class="form-group">
    <label for="exampleInputFile" class="col-sm-3 control-label">File</label>
    <div class="col-sm-6">
    	<input name="file" type="file" class="form-control-file" id="inputFile" aria-describedby="fileHelp">
    </div> -->
<!--     <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
  <!-- </div> -->
	<div class="row">
	    <div class="col-sm-12 modalButtons header">
	        <button type="submit" class="btn btn-primary btn-sm">
	            Upload</button>
	    </div>
	    <div class="col-sm-3">
	    </div>
	</div>
</form>
	<% if flash[:errors] %>
		<p><%= flash[:errors] %></p>
	<% end %>
	</div>
</div>